{% extends 'layouts/bootstrap4.html.twig' %}

{% block title %}{{ 'Reset password' | trans }} | {{ parent() }}{% endblock %}

{% block content %}
  <div class="container my-4">
    <h1 class="text-center">
      {{ 'Reset password' | trans }}
    </h1>
    <div class="alert alert-success" role="alert">
      {{ 'password_reset.request.alert.success' | trans({}, 'auth') }}
    </div>
  </div>
{% endblock %}
