{% extends 'layouts/bootstrap4.html.twig' %}

{% block title %}{{ 'Signup' | trans }} | {{ parent() }}{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1 class="text-center">
      {{ 'Signup' | trans }}
    </h1>
    <div class="alert alert-success" role="alert">
      {{ 'alert.success' | trans({}, 'register') }}
    </div>
  </div>
{% endblock %}
