{% trans_default_domain 'emails' %}
{% set password_reset_url = url('password_reset', {
    email: user.getEmail(),
    password_reset_code: user.getPasswordResetCode(),
}) %}
{% apply inky_to_html | inline_css(source('@css/vendor/foundation-emails.css')) %}
  <container>
    <h1>
      {{ 'greeting' | trans({
        'user_username': user.getUsername(),
      }) }}
    </h1>
    <p>{{ 'password_reset.content' | trans }}</p>
    <p>{{ password_reset_url | raw }}</p>
  </container>
{% endapply %}
