{% trans_default_domain 'emails' %}

{% set confirm_url = url('login.tfa', {
    code: user_tfa_email.getCode(),
}) %}

<h1>
  {{ 'greeting' | trans({
    'user_username': user.getUsername(),
  }) }}
</h1>

<p>{{ 'tfa_confirm.content' | trans() }}</p>
<p>{{ confirm_url | raw }}</p>
