parameters:
    level: 4

    paths:
        - src
        - tests

    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'

    scanDirectories:
        - %rootDir%/../../../tests

    bootstrapFiles:
        - %rootDir%/../../../bin/.phpunit/phpunit-7.5/vendor/autoload.php

    excludes_analyse:
        - %rootDir%/../../../src/Migrations/*

    ignoreErrors:
        - '#findOneById()#'
        - '#findOneByUuid()#'
        - '#findOneByEmail()#'
        - '#findOneByUsername()#'
        - '#tick()#'
        - '#App\\Tests\\WebTestCase#'
