{% extends 'layouts/bootstrap4.html.twig' %}

{% block title %}{{ 'Two Factor Authentication' | trans }} | {{ parent() }}{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1 class="text-center">
      {{ 'Two Factor Authentication' | trans }}
    </h1>
    TODO
  </div>
{% endblock %}
