.page-content-wrapper {
  padding-bottom: 20px;
}

/***** Avatar *****/
.card,
.users-detail-page .page-content-wrapper {
  div.avatar-image {
    font-size: 240px;
    max-width: 240px;
    max-height: 240px;

    > div {
      top: -10px;
      width: auto;
    }
  }
}

.avatars-selector {
  .single-avatar-image {
    cursor: pointer;
    border: 3px solid transparent;
  }

  .single-avatar-image:hover {
    border-color: #e1e1e1;
  }

  .single-avatar-image.selected {
    border-color: #d1d1d1;
  }
}

/***** Card image wrapper *****/
.card-img-wrapper {
  overflow-y: hidden;
  height: 240px;
  text-align: center;
  margin: 8px 8px 0;

  img {
    width: auto;
    max-width: 100%;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

/***** Messaging *****/
.messaging-page {
  .page-content-wrapper {
    height: calc(100vh - 71px);
    padding-bottom: 0;

    .container,
    .container .row,
    .container .row > div {
      height: 100%;
    }

    #messaging-threads-wrapper {
      height: 100%;
      overflow-x: hidden;
    }

    #messaging-thread-messages-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;
      border-left: 1px solid #ced4da;

      #messaging-thread-messages {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        top: 0;
        position: relative;
        flex: 1 1 0;
        overflow-x: hidden;
        padding: 20px;

        #messaging-thread-messages-down-pusher {
          flex: 1 1 auto;
        }

        #messaging-thread-messages-inner {
          flex: 0 0 auto;

          .avatar-image-wrapper {
            vertical-align: top;
          }
        }
      }

      form {
        padding: 20px;
      }
    }
  }
}
