{% extends 'layouts/bootstrap4.html.twig' %}

{% block content %}
  <div class="container text-center mt-4">
    <h1>{{ 'home.heading' | trans }}</h1>
    Hello world
    </div>
  </div>
{% endblock %}
