{% extends 'layouts/bootstrap4.html.twig' %}

{% block title %}{{ 'Privacy' | trans }} | {{ parent() }}{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1>{{ 'Privacy' | trans }}</h1>
    <div>
      TODO
    </div>
  </div>
{% endblock %}
