{% extends 'layouts/bootstrap4.html.twig' %}

{% block title %}{{ 'Terms' | trans }} | {{ parent() }}{% endblock %}

{% block content %}
  <div class="container my-4">
    <h1>{{ 'Terms' | trans }}</h1>
    <div>
      TODO
    </div>
  </div>
{% endblock %}
