{% extends 'contents/settings/_layout.html.twig' %}

{% block main %}
  {{ form_start(form) }}
    {{ form_row(form.enabled) }}
    <button class="btn btn-lg btn-block btn-primary" type="submit">
      {{ 'Confirm' | trans }}
    </button>
  {{ form_end(form) }}
{% endblock %}
