label.required:before {
  content: "* ";
}

.avatar-image {
  border-radius: 50%;
}

div.avatar-image {
  color: #fff;
  background-color: #008542;
  display: inline-block;
  line-height: 1;
  width: 100%;
  height: 100%;
  font-size: 24px;
  max-width: 24px;
  max-height: 24px;
  text-transform: capitalize;
  text-align: center;

  > div {
    position: relative;
    top: -2px;
    width: 24px;
  }
}

/***** Select2 *****/
.select2-container {
  width: 100% !important;
  max-width: 100%;

  &.select2-container--bootstrap4.select2-container--focus {
    .select2-selection {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}
