parameters:
    level: 4

    paths:
        - src
        - tests

    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'

    scanDirectories:
        - %rootDir%/../../../tests

    bootstrapFiles:
        - %rootDir%/../../../bin/.phpunit/phpunit-7.5-0/vendor/autoload.php
#        - %rootDir%/../../../vendor/autoload.php # Try that one instead if it works

    excludes_analyse:
        - %rootDir%/../../../src/Migrations/*

    ignoreErrors:
        - '#findOneById#'
        - '#findOneByUuid#'
        - '#findOneByEmail#'
        - '#findOneByUsername#'
        - '#tick#'
        - '#App\\Tests\\WebTestCase#'
